@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.vertical-line {
  position: relative;
}

.vertical-line::after {
  content: "";
  position: absolute;
  background-color: #d9d7d7;
  height: 60%;
  width: 1px;
  top: 50%;
  transform: translateY(-45%);
}

#map {
  /* height: 180px; */
  /* height: 100vh; */
  height: calc(100vh - 288px);
  /* width: 100vw; */
  width: 100%;
  z-index: -1;
}
